# Rewrite for widespread user agents without <canvas> capabilities.
RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} .*\ MSIE\ [8765432]\..*  [OR]
RewriteCond %{HTTP_USER_AGENT} .*\ Firefox/3\.[510].*   [OR]
RewriteCond %{HTTP_USER_AGENT} .*\ Firefox/[210]\..*
RewriteRule .* X.html [L]
