/* Global */
header{
height:3.3em;
}
footer{
height:3.3em;
}
/* End Global */

/* Attributes by Id */
#controls-group0{
padding-top:1.4em;
padding-left:0;
width:38.2%;
text-align:right;
}
#nav-group0{
padding-top:1.4em;
padding-right:0;
width:61.1%;
}
#status{
width:414px;
height:256px;
box-shadow:10px 10px 5px #888888;
top:8px;
right:auto;
left:39%;
}
#status-table{
left:5.5em;
top:3.45em;
/* TODO Remove 'top' once vertical alignment is resolved. */
}
#canvas {
box-shadow:10px 10px 5px #888888;
right:61.8%;
bottom:15px;
left:auto;
}
#controls-group1{
padding-top:0.4em;
padding-left:0;
width:38.2%;
text-align:right;
float:left;
}
#controls-group2{
padding:0;
padding-top:0.4em;
padding-right:0;
width:61.1%;
float:right;
}
#help-text{
padding:0;
padding:8px 0;
width:61.1%;
float:right;
}
/* End Attributes by Id */
