/* Reset */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, ol, ul, li, form, fieldset, legend, label,
table, header, footer, nav, section{
margin:0; 
padding:0;
border:0;
}
/* End Reset */

/* Global */
body{
font:100%/1.5 sans-serif;
}
a {
text-decoration: none;
color:#7f7f7f;
}
a:hover,a:focus{
color:#000;
}
header{
height:2.2em;
background:lightblue;
}
footer{
height:5.3em;
background:lightblue;
}
/* End Global */

/* Attributes by Id */
#controls-group0{
float:left;
margin:0;
padding-top:0.2em;
padding-left:2%;
}
#nav-group0{
float:right;
padding-top:0.2em;
padding-right:2%;
}
#animation{
clear:both;
position:relative;
min-height:288px;
}
#status{
background:antiquewhite;
width:256px;
height:144px;
position:absolute;
top:5px;
right:2%;
}
#status-table{
position:absolute;
left:1em;
/* TODO Vertical table alignment. */
}
#canvas{
background:white; /*Prevent artefacts when overlapping with #status.*/
position:absolute;
bottom:5px;
left:2%;
}
#controls-group1{
margin:0;
padding-top:0.3em;
padding-left:2%;
}
#random-selector{
width:8em;
}
#controls-group2{
padding-bottom:0.5em;
padding-left:2%;
}
#algorithm-selector{
width: 8em;
}
#help-container{
clear:both;
}
#help-text{
padding:1px 3.7% 1px 3.7%;
}
/* End Attributes by Id */
